{
  "extends": "eslint-config-rackt",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "eol-last": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "no-console": 2
  },
  "plugins": [
    "react"
  ]
}
