{
  "extends": [ "airbnb" ],
  "parser": "babel-eslint",
   "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "semi": [ 2, "never" ],
    "object-curly-newline": ["error" ],
    "object-property-newline": ["error", {
      "allowMultiplePropertiesPerLine": false
    }],
    "comma-dangle": [ 2, "never" ],
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx"]
    }],
    "import/no-extraneous-dependencies": [ 0 ],
    "react/prop-types": [ 0 ],
    "no-confusing-arrow": [ 0 ]
  }
}
