# OS or Editor files
._*
.DS_Store
Thumbs.db
.idea

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Always-ignore extensions
*~
*.diff
*.err
*.log
*.orig
*.pyc
*.rej
*.sass-cache
*.sw?
*.vi

*.js.map
package-lock.json
packages/**/yarn.lock
node_modules/
npm-debug.log
lib/
es
coverage
_book
examples/react/bundle.js
